@import url("http://fonts.googleapis.com/css?family=Bitter");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

html {
  color: #555555;
  background-color: white;
}

a {
  color: #0faf8d;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:hover {
  text-decoration: underline;
}

body {
  border-top: 4px solid #0faf8d;
}

.container {
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 0em;
  *zoom: 1;
  max-width: 39em;
  _width: 39em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

header.masthead {
  overflow: hidden;
  *zoom: 1;
  font-family: "Bitter";
}

header.masthead .logo {
  width: 28.57143%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}

header.masthead .menu {
  width: 64.28571%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  text-align: right;
}

header.masthead .menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}

header.masthead .menu li {
  font-size: 0.9rem;
  padding-left: 20px;
  text-transform: uppercase;
}

footer.mastfoot {
  font-size: 0.8125em;
  line-height: 1.84615em;
  font-family: "Bitter";
  text-align: center;
  color: #aaaaaa;
}

footer.mastfoot a {
  color: #aaaaaa;
}

main.content {
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 0em;
}

article.hentry {
  margin-bottom: 1.5em;
}

article.hentry h1 {
  width: 79.16667%;
  float: left;
  margin-right: 4.16667%;
  display: inline;
  font-family: "Bitter";
}

article.hentry p.time {
  width: 16.66667%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  font-family: "Bitter";
  text-align: right;
}

article.hentry p.time time {
  font-size: 0.8rem;
  color: #aaaaaa;
}

article.hentry .box {
  overflow: hidden;
  *zoom: 1;
}

article.hentry .content p {
  font-size: 0.8125em;
  line-height: 1.84615em;
  margin-top: 0.92308em;
  margin-bottom: 0.92308em;
}

article.hentry .content pre {
  font-size: 0.6875em;
  line-height: 2.18182em;
  padding: 1.09091em;
  background-color: #fff8ed;
  border: 1px solid #f6e4cc;
  font-family: "Monaco", monospace;
  padding: 15px 20px;
}

.highlight {
  background: white;
}

.highlight .c {
  color: #999988;
  font-style: italic;
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.highlight .k, .highlight .o {
  font-weight: bold;
}

.highlight .cm {
  color: #999988;
  font-style: italic;
}

.highlight .cp {
  color: #999999;
  font-weight: bold;
}

.highlight .c1 {
  color: #999988;
  font-style: italic;
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

.highlight .gd {
  color: black;
  background-color: #ffdddd;
}

.highlight .gd .x {
  color: black;
  background-color: #ffaaaa;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gr {
  color: #aa0000;
}

.highlight .gh {
  color: #999999;
}

.highlight .gi {
  color: black;
  background-color: #ddffdd;
}

.highlight .gi .x {
  color: black;
  background-color: #aaffaa;
}

.highlight .go {
  color: #888888;
}

.highlight .gp {
  color: #555555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaaaaa;
}

.highlight .gt {
  color: #aa0000;
}

.highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr {
  font-weight: bold;
}

.highlight .kt {
  color: #445588;
  font-weight: bold;
}

.highlight .m {
  color: #009999;
}

.highlight .s {
  color: #dd1144;
}

.highlight .na {
  color: teal;
}

.highlight .nb {
  color: #0086b3;
}

.highlight .nc {
  color: #445588;
  font-weight: bold;
}

.highlight .no {
  color: teal;
}

.highlight .ni {
  color: purple;
}

.highlight .ne, .highlight .nf {
  color: #990000;
  font-weight: bold;
}

.highlight .nn {
  color: #555555;
}

.highlight .nt {
  color: navy;
}

.highlight .nv {
  color: teal;
}

.highlight .ow {
  font-weight: bold;
}

.highlight .w {
  color: #bbbbbb;
}

.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #009999;
}

.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
  color: #dd1144;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #dd1144;
}

.highlight .ss {
  color: #990073;
}

.highlight .bp {
  color: #999999;
}

.highlight .vc, .highlight .vg, .highlight .vi {
  color: teal;
}

.highlight .il {
  color: #009999;
}
