<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    <link href='/favicon.png' rel='shortcut icon'>

    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet'>
    <link href='/css/bootstrap.min.css' rel='stylesheet'>
    <link href='/css/style.css' rel='stylesheet'>
  </head>
  <body>
    <div class='container'>
      <header class='masthead'>
        <ul class='nav nav-pills pull-right'>
          <li><a href='/'>Home</a></li>
        </ul>
        <h1><a href='/'>{{ site.name }}</a></h1>
      </header>
      <main class='content' role='main'>
        {{ content }}
      </main>
      <footer class='mastfoot'>
        <p class='text-center'><a href='https://github.com/sapporo-beam'>github.com/sapporo-beam</a></p>
      </footer>
    </div>
  </body>
</html>
